.more_button{
	padding: 10px;
	font-size: 15px;	
}
input[type="button"]{
	background-color: #161616;
	border: none;	
	font-family: "CodeLight";
	color: #aaa;
	letter-spacing: 3px;
	font-weight: 700;
}
input[type="button"]:hover{
	background-color: #1a1a1a;
	color: white;
}

.error{
	background-color: #300;
}